/* Cabin (most of the site) */
@font-face {
  font-family: 'Cabin';
  src: url("../fonts/Cabin-Regular.woff") format("woff"), url("../fonts/Cabin-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Cabin';
  src: url("../fonts/Cabin-Bold.woff") format("woff"), url("../fonts/Cabin-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: 'Cabin';
  src: url("../fonts/Cabin-Italic.woff") format("woff"), url("../fonts/Cabin-Italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: 'Cabin';
  src: url("../fonts/Cabin-BoldItalic.woff") format("woff"), url("../fonts/Cabin-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
.field {
  margin: 0 0 1.5em 0;
}

.field__label {
  font-weight: bold;
}

.address {
  font-style: italic;
}

details {
  margin: 0 0 2em 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  margin: 0;
  padding: 30px 0 0 0;
  width: 100%;
}

.layout-container {
  box-sizing: border-box;
  max-width: 860px;
  margin-right: auto;
  margin-left: auto;
}

@media all and (min-width: 851px) {
  .layout-container {
    max-width: 1290px;
  }
}
#page-wrapper {
  margin: 0;
  padding: 1em;
  font-size: 1.1em;
  max-width: 100%;
}

.site-footer {
  padding: 1em;
}
.site-footer .layout-container {
  padding: 0;
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.item-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.item-list ul li {
  margin: 0;
  padding: 0;
}

.site-name {
  font-family: Times, serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  display: block;
  text-align: center;
  margin: 5px auto 10px;
}
.site-name a {
  color: #a82133;
}
.site-name a:hover {
  text-decoration: none;
}

.page-title {
  font-size: 2em;
  line-height: 1em;
}
.page-title a {
  color: #a82133;
}

.message-header {
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}

.forward-date-time .field--name-field-date-time {
  font-size: 1.25em;
  font-style: italic;
}

.social-media-links--platforms {
  padding-left: 0;
}

.social-media-links--platforms.horizontal li {
  display: inline-block;
  text-align: center;
  padding: .2em .35em;
}

@media (min-width: 851px) {
  #page-wrapper,
  .site-footer {
    padding: 1em 2em;
  }
}
@media (min-width: 1251px) {
  #page-wrapper,
  .site-footer {
    padding: 1em 3em;
  }
}
