a.teaser-link {
  color: black;
  text-decoration: none;
  margin-bottom: 1em;
  border-bottom: none;
}

a.teaser-link h2,
a.teaser-link h4 {
  color: #0071b3;
  margin: 0;
}

a.teaser-link:hover h2,
a.teaser-link:focus h2,
a.teaser-link:hover h4,
a.teaser-link:focus h4 {
  color: #018fe2;
  text-decoration: underline;
}

a.teaser-link article {
  margin: 0.25em 0 0 0;
  padding: 0.25em;
}

article.node--view-mode-teaser-search-result,
a.teaser-link article.node--view-mode-teaser,
a.teaser-link article.node--view-mode-teaser-search-result,
a.teaser-link article.node--view-mode-teaser-with-location {
  margin: 1em 0 0 0;
  padding: 0.5em 0.25em;
}

a.teaser-link .field--type-entity-reference {
  margin: 0;
}

a.teaser-link article .field--type-entity-reference article {
  margin: 0;
  padding: 0;
}

a.teaser-link .field--name-field-date-time {
  font-style: italic;
}

a.teaser-link .node__content {
  font-size: 1em;
  margin: 0;
}

a.teaser-link .node--sticky {
  border: 1px solid #bbb;
  background-color: rgba(129, 253, 91, 0.04);
}

.node--view-mode-teaser-search-result .event-info,
.node--view-mode-teaser-with-location .event-info {
  margin: 0;
}

a.teaser-link .node--view-mode-teaser-search-result .field--name-field-location,
a.teaser-link .node--view-mode-teaser-with-location .field--name-field-location {
  margin: 0.75em 0 0 0;
  font-size: 90%;
}

@media (min-width: 650px) {
  .node--type-event.node--view-mode-teaser-search-result .event-info,
  .node--view-mode-teaser-with-location .event-info {
    float: left;
    width: 60%;
  }
  .node--type-event.node--view-mode-teaser-search-result .field--name-field-location,
  .node--view-mode-teaser-with-location .field--name-field-location {
    float: left;
    width: 38%;
  }
  a.teaser-link .node--type-event.node--view-mode-teaser-search-result .field--name-field-location,
  a.teaser-link .node--view-mode-teaser-with-location .field--name-field-location {
    margin: 0;
  }
}
.event-with-image .event-info .field--name-field-main-image {
    float: left;
    margin: 0 1em 0 0.5em;
    padding: 0;
}
.event-with-image .event-info .event-text {
    float: left;
}

.node--view-mode-teaser-search-result .field--name-field-location p.address,
.node--view-mode-teaser-with-location .field--name-field-location p.address {
  margin: 0.25em 0;
}

a.teaser-link:hover .teaser-wrapper {
  background-color: rgba(0,0,0,0.025);
}

.place-teaser-compact header {
  float: left;
  margin: 0 0.5em 0 0;
}

.place-teaser-compact .field--name-field-address {
  float: left;
  font-style: italic;
  font-size: 95%;
  line-height: 1.5em;
}

.node--type-directory-entry .headshot {
  float: left;
  margin: 0 1em 0 0;
}

.headshot a {
  text-decoration: none;
  border-bottom: none;
}
.headshot a:hover {
  text-decoration: none;
  border-bottom: none;
}

.node--unpublished {
  background-color: #fffcd9;
  border: 1px solid #e4e4a7;
}

.container-inline .inline {
  display: inline-block;
}

h1 {
  margin: 0 0 0.5em 0;
}

.more-link a {
  text-decoration: none;
  border-bottom: none;
}
.more-link a:hover {
  text-decoration: underline;
  border-bottom: none;
}

.field--name-field-date-time {
  font-size: 0.9em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.block-event-datetime-block .field--name-field-date-time {
  font-size: 1.25em;
  font-style: italic;
}

.node--type-product h3 {
  font-size: 1.25em;
  font-style: italic;
  margin: 0;
}

.node--type-product a.teaser-link .field--name-field-main-image {
  float: left;
  margin: 0 1em 0 0;
}

.node--type-layout-page .paragraph {
  clear: both;
  margin: 0 0 2em 0;
}

.paragraph--type--event-featured h3 {
  clear: both;
}

.paragraph--type--event-featured .views-row {
    margin: 0 0 1em 0;
}

@media (min-width: 650px) {
  .paragraph--type--event-featured .views-row {
    width: 46%;
    float: left;
    margin: 0 3% 1em 0;
  }
}

.node--view-mode-full .field--name-field-subtitle {
  font-size: 1.3em;
}

div.field--name-field-registration-link {
  margin: 0 0 1em 0;
}

.field--name-field-registration-link a {
  color: #FFF;
  background-color: rgb(32, 136, 0);
  border: 1px solid rgb(20, 85, 0);
  font-size: 1em;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 5px 15px 5px 15px;
  margin: 0;
  text-align: center;
  max-width: 200px;
  text-decoration: none;
}

.field--name-field-registration-link a:hover {
  color: #FFF;
  background-color: rgb(22, 116, 1);
  border: 1px solid rgb(20, 85, 0);
  text-decoration: none;
}

.menu-item--expanded {
  list-style-image: none;
  list-style-type: none;
}
