a.teaser-link {
  color: black;
  text-decoration: none;
  margin-bottom: 1em;
}

a.teaser-link h4 {
  color: #0071b3;
  margin: 0;
}

a.teaser-link .field--type-entity-reference {
  margin: 0;
}

a.teaser-link article {
  margin: 0.25em 0;
  padding: 0.25em;
}

a.teaser-link article.node--view-mode-teaser {
  margin: 0.5em 0;
  padding: 0.75em 0.5em;
}

a.teaser-link .field--name-field-date-time {
  font-style: italic;
}

a.teaser-link:hover h4,
a.teaser-link:focus h4 {
  color: #018fe2;
  text-decoration: underline;
}

a.teaser-link .node__content {
  font-size: 1em;
  margin: 0;
}

a.teaser-link .node--sticky {
  border: 1px solid #bbb;
  background-color: rgba(129, 253, 91, 0.04);
}
.teaser-wrapper {
  padding: 0.5em 0;
}

.node--view-mode-teaser-with-location .event-info {
  float: left;
  width: 60%;
  margin: 0;
}

.node--view-mode-teaser-with-location .field--name-field-location {
  float: left;
  width: 35%;
  margin: 0;
  font-size: 90%;
}

.node--view-mode-teaser-with-location .field--name-field-location p.address {
  margin: 0.25em 0;
}

a.teaser-link:hover .teaser-wrapper,
a.teaser-link:hover .node--view-mode-teaser-compact {
  background-color: rgba(0,0,0,0.025);
}
