.sidebar {
  .block {
    padding: 10px;
    background-color: lighten($c-grey, 4%);
    border-color: darken($c-grey, 5%);
    .content {
      margin-top: 0;
    }
  }
  h2 {
    border-bottom: 1px solid darken($c-grey, 5%);
    color: $c-black;
  }
}

@media (min-width: 630px) {
  .sidebar .block {
    padding: 15px 20px;
  }
}
@media (min-width: 851px) {
  .sidebar .block {
    padding: 10px 15px 15px;
  }
}
@media (min-width: 1024px) {
  .sidebar .block {
    padding: 15px 20px;
  }
}

// Styles for the menu block in the sidebar.
.region-sidebar-first {
  // No padding/margin on top-level items.
  ul.menu {
    margin: 0;
    padding: 0;
  }
  // Indent sub-menus by 0.75em, with a little padding on top for space.
  ul ul.menu {
    margin: 0;
    padding: 0.25em 0 0 0.75em;
  }
  // Give every menu item some top and bottom padding for breathing room.
  .menu-item {
    margin: 0;
    padding: 0.25em 0 0.5em 0;
  }
}
