.contact-form-link a,
.field--type-email a,
.field--type-telephone a {
  position: relative;
}

.contact-form-link a,
.field--type-email a {
  padding: 0 0 0 1.35em;
  margin: 0 0 0 0.15em;
}

.field--type-telephone a {
  padding: 0 0 0 1.25em;
  margin: 0 0 0 0.25em;
}

.contact-form-link a:before,
.field--type-email a:before,
.field--type-telephone a:before {
  position: absolute;
  font-family: 'FontAwesome';
  color: #777;
  left: 0px;
}

.contact-form-link a:before,
.field--type-email a:before {
  /* fa fa-envelope-o */
  content: "\f003";
}

.field--type-telephone a:before {
  /* fa fa-phone */
  content: "\f095";
  top: 0px;
}

.field--name-field-facebook-event a,
.field--name-field-facebook-event a:focus,
.field--name-field-facebook-event a:hover {
  padding: 0 0 0 1em;
  position: relative;
}

.field--name-field-facebook-event a:before {
  position: absolute;
  font-family: 'FontAwesome';
  /* fa fa-facebook */
  content: "\f09a";
  left: 1px;
}

p.address {
  margin: 1em 0;
  font-style: italic;
}
