.action a {
  color: #FFF;
  text-decoration: none;
  background-color: rgb(32, 136, 0);
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 5px 15px 5px 15px;
  margin: 1em auto 0;
  display: block;
  text-align: center;
  max-width: 150px;
  border: 1px solid rgb(20, 85, 0);
}

.action a:hover {
  color: #FFF;
  text-decoration: none;
  background-color: rgb(22, 116, 1);
  border: 1px solid rgb(20, 85, 0);
}

.action-secondary a {
  background-color: #FFF;
  font-size: 1em;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 5px 13px;
  margin: 1em auto 0;
  display: block;
  text-align: center;
  max-width: 150px;
  text-decoration: none;
  border: 1px solid rgb(0, 113, 179);
}

.action-secondary a:hover {
  text-decoration: none;
  background-color: rgb(235, 235, 245);
  border: 1px solid rgb(0, 100, 160);
}

.container-inline .action a,
.container-inline .action-secondary a {
  margin: 0 0.65em 0.5em 0;
}

div.danger {
  display: block;
  margin: 1em auto 0;
  text-align: center;
}

.danger a {
  color: rgb(210, 5, 5);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  border: none;
}

.danger a:hover {
  color: rgb(170, 5, 5);
  text-decoration: none;
  border: none;
}

.block-social-media-links a,
.block-social-media-links a:hover {
  border: none;
  text-decoration: none;
}

.site-footer .block {
  margin: 0 0 20px 0;
}

.site-footer h2,
.site-footer .site-footer__top h2 {
  margin: 0 0 0.5em 0;
  text-transform: none;
}

.site-footer .block-social-media-links .content ol:not(.menu),
.site-footer .block-social-media-links .content ul:not(.menu) {
  padding: 0.5em 0 0 0;
}
.site-footer .block-social-media-links .content li a,
.site-footer .block-social-media-links .content li a:hover {
  border-bottom: none;
  text-decoration: none;
  text-indent: 0;
  padding: 0 0.25em 0 0;
}

.block-footer-text-block .contact a,
.block-footer-text-block .contact a:hover {
  border-bottom: none;
  text-decoration: none;
}

.block-footer-text-block .contact a.telephone {
  margin: 0 1em 0 0;
}

.block-footer-email-subscribe-block .text-link {
  font-size: 1.1em;
}

.site-footer .block-footer-email-subscribe-block .action-secondary a {
  color: rgb(0, 100, 160);
  max-width: 100px;
}

.site-footer .block-footer-email-subscribe-block .action-secondary a:hover {
  color: rgb(0, 113, 179);
}

.region-sidebar-first ul.menu {
  margin: 0;
  padding: 0 0 0 0.25em;
}

.region-sidebar-first ul ul.menu {
  margin: 0;
  padding: 0.25em 0 0 0.5em;
}

.region-sidebar-first .menu-item {
  margin: 0;
  padding: 0.25em 0 0.5em 0.25em;
}

.sidebar .block .content {
  margin-top: 0;
}

.contact-form-link a,
.field--type-email a,
.field--type-telephone a {
  position: relative;
  border-bottom: none;
  text-decoration: none;
}

.contact-form-link a:focus,
.contact-form-link a:hover,
.field--type-email a:focus,
.field--type-email a:hover,
.field--type-telephone a:focus,
.field--type-telephone a:hover {
  /*
  text-decoration: none;
  border-bottom: 1px solid;
  */
  text-decoration: underline;
  border-bottom: none;
}

.contact-form-link a,
.field--type-email a {
  padding: 0 0 0 1.35em;
  margin: 0 0 0 0.15em;
}

.field--type-telephone a {
  padding: 0 0 0 1.25em;
  margin: 0 0 0 0.25em;
}

.contact-form-link a:before,
.field--type-email a:before,
.field--type-telephone a:before {
  position: absolute;
  font-family: 'FontAwesome';
  color: #777;
  left: 0px;
  top: 0px;
}

.contact-form-link a:before,
.field--type-email a:before {
  /* fa fa-envelope-o */
  content: "\f003";
}

.field--type-telephone a:before {
  /* fa fa-phone */
  content: "\f095";
}

.field--name-field-facebook-event a,
.field--name-field-facebook-event a:hover {
  padding: 0 0 0 1em;
  position: relative;
  border-bottom: none;
  text-decoration: none;
}

.field--name-field-facebook-event a:before {
  position: absolute;
  font-family: 'FontAwesome';
  /* fa fa-facebook */
  content: "\f09a";
  left: 1px;
}

p.address {
  margin: 1em 0;
  font-style: italic;
}
