.block-social-media-links a,
.block-social-media-links a:hover {
  border: none;
  text-decoration: none;
}

.site-footer .block {
  margin: 0 0 20px 0;
}

.site-footer h2,
.site-footer .site-footer__top h2 {
  margin: 0 0 0.5em 0;
  text-transform: none;
}

.site-footer .block-social-media-links .content ol:not(.menu),
.site-footer .block-social-media-links .content ul:not(.menu) {
  padding: 0.5em 0 0 0;
}
.site-footer .block-social-media-links .content li a,
.site-footer .block-social-media-links .content li a:hover {
  border-bottom: none;
  text-decoration: none;
  text-indent: 0;
  padding: 0 0.25em 0 0;
}

.block-footer-text-block .contact a,
.block-footer-text-block .contact a:hover {
  border-bottom: none;
  text-decoration: none;
}

.block-footer-text-block .contact a.telephone {
  margin: 0 1em 0 0;
}

.region-sidebar-first ul.menu {
  margin: 0;
  padding: 0 0 0 0.25em;
}

.region-sidebar-first ul ul.menu {
  margin: 0;
  padding: 0.25em 0 0 0.5em;
}

.region-sidebar-first .menu-item {
  margin: 0;
  padding: 0.25em 0 0.5em 0.25em;
}

.sidebar .block .content {
  margin-top: 0;
}

.contact-form-link a {
  padding: 0 0 0 1.5em;
  position: relative;
  border-bottom: none;
  text-decoration: none;
}

.contact-form-link a:hover {
  border-bottom: none;
  text-decoration: none;
}

.contact-form-link a:before {
  position: absolute;
  font-family: 'FontAwesome';
  /* fa fa-envelope-o */
  content: "\f003";
  color: #777;
  left: 1px;
}

p.address {
  margin: 1em 0;
  font-style: italic;
}
