.paragraph--type--product-info-audio,
.paragraph--type--product-info-book,
.paragraph--type--product-info-general {
  margin: 0 0 1em 0;
}

.paragraph--type--product-info-audio .product-image,
.paragraph--type--product-info-book .product-image,
.paragraph--type--product-info-general .product-image {
  margin: 0 1em 0 0;
}

.paragraph--type--product-info-general .field--name-field-description p {
  margin: 0;
}

.field--name-field-cover-price,
.field--name-field-cover-price .field__label,
.field--name-field-publication-year .field__label {
  font-weight: normal;
}

.field--name-field-special-price {
  font-weight: bold;
}

.field--name-field-buy-now a {
  color: rgb(21, 86, 1);
  background-color: rgb(192, 222, 183);
  font-size: 1em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  display: inline-block;
  padding: 5px 15px 5px 15px;
  margin: 1em 0 0 0;
  text-align: center;
  max-width: 150px;
  text-decoration: none;
  border: 1px solid;
  border-color: rgb(21, 86, 1);
}

.field--name-field-buy-now a:hover {
  color: #FFF;
  background-color: rgb(32, 136, 0);
  text-decoration: none;
}

.field--name-field-by p {
  margin: 0;
}

.field--name-field-by .field__label {
  font-weight: normal;
}

.field--name-field-ebook-amazon-kindle a,
.field--name-field-ebook-apple-ibooks a, 
.field--name-field-ebook-barnes-noble a, 
.field--name-field-ebook-kobo a {
  padding: 0 0 0 1.5em;
  position: relative;
  border-bottom: none;
  text-decoration: none;
}

.field--name-field-ebook-amazon-kindle a:hover,
.field--name-field-ebook-apple-ibooks a:hover,
.field--name-field-ebook-barnes-noble a:hover,
.field--name-field-ebook-kobo a:hover {
  border-bottom: none;
  text-decoration: none;
}

.field--name-field-ebook-amazon-kindle a:before {
  position: absolute;
  font-family: 'FontAwesome';
  content: "\f270";
  color: #444;
  left: 1px;
}

.field--name-field-ebook-apple-ibooks a:before {
  position: absolute;
  font-family: 'FontAwesome';
  content: "\f179";
  color: #777;
  left: 3px;
}

.field--name-field-ebook-barnes-noble a:before {
  position: absolute;
  font-family: Impact, Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
  content: "BN";
  color: #346250;
  left: 0;
}

.field--name-field-ebook-kobo a:before {
  position: absolute;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  content: "k";
  color: #bf0000;
  left: 4px;
  bottom: -0.1em;
}
