/* General styles for the whole view */
.result-id,
.result-info {
  float: left;
  overflow: hidden;
}

a.user-picture {
  border: none;
  float: right;
  margin: 0 1em 0 0;
}

a.user-picture:hover {
  border: none;
}

/* Styles for raw map results (below the map) */
ol.location-results {
  list-style-type: none;
  margin: 2em 0 0 0;
  padding: 0;
}

ol.location-results li.location-result {
  padding: 1em 0 1em 1em;
  margin: 0;
}

ol.location-results li.location-result:hover {
  background-color: rgba(0,0,0,0.025);
}

ol.location-results h2 {
  margin: 0;
  padding: 0;
}

ol.location-results .result-counter {
  width: 90px;
}

ol.location-results .item-list ul li {
  padding: 0;
  margin: 0;
}

ol.location-results a {
  border-bottom: none;
  text-decoration: none;
}

/* Results inside the map marker info pop-ups */
.geolocation-common-map-container .result-counter {
  margin: 0.25em 0.75em 0.25em 0;
}

.geolocation-common-map-container h2 {
  margin: 0;
  padding: 0;
}

.geolocation-common-map-container a {
  border-bottom: none;
  text-decoration: none;
}
