{% extends 'node--teaser--plain.html.twig' %}
{% set title_element = 'h2' %}

{% block link_start %}
<a href="{{ url }}" rel="bookmark" class="teaser-link">
{% endblock %}

{% block link_end %}
</a>
{% endblock %}
