{#
/**
 * @file
 * Display an 'audio' group in the 'email' view mode.
 *
 * Does not print the group title to avoid confusion in the emails to listeners.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  <div{{ content_attributes }}>
    {{ content }}
  </div>
</div>
