body {
  font-family: $ff-cabin;    
  color: $c-black;
  background-color: $c-plum;
}

#page-wrapper {
  background-color: $c-white;
}

h1 {
  margin: 0 0 0.5em 0;
  color: $c-red;
}

.main-content {
  h2 {
    font-size: 1.5em;
    color: $c-red;
  }
  a h2 {
    color: $c-plum;
  }
  a:focus h2,
  a:hover h2 {
    color: $c-purple;
  }
  h3 {
    font-size: 1.25em;
  }
  h4 {
   font-size: 1.1em;
  }
  h5 {
    font-size: 1.05em;
  }
}

a {
  text-decoration: none;
  border-bottom: none;
  color: $c-plum;
}
a:focus,
a:hover {
  text-decoration: underline;
  border-bottom: none;
  color: $c-purple;
}

.tabs ul.primary li a:focus,
.tabs ul.primary li a:hover {
  text-decoration: none;
}

.field--type-image img {
  margin: 0;
}
.node .field--type-image {
  float: none;
  margin: 0;
}

p.address {
  margin: 1em 0;
  font-style: italic;
}

p.huge {
  font-size: 1.3em;
}
p.large {
  font-size: 1.15em;
}

blockquote,
figure,
p {
  overflow: hidden;
}

blockquote, figure {
  margin: 0 0 1.5em 0;
}

blockquote {
  font-style: normal;
  font-size: 110%;
  background-color: $c-blockquote-back;
  color: $c-blockquote-front;
  padding: 10px;
  border-left: none;
  p:last-child {
    margin-bottom: 0;
  }
}

figure {
  min-width: 250px;
  audio {
    margin: 10px 0 0 10px;
  }
  blockquote {
    margin: 0;
  }
}

blockquote:after,
blockquote:before {
  content: none;
}

.attribution,
figure.quote figcaption {
  margin: 0 0 0.5em 0;
  padding: 0 0 0 1em;
}
.attribution:before,
figure.quote figcaption:before {
  color: $c-gr9;
  content: "\2015\0020"; /* quote dash and a space */
}
@media (min-width: 715px) {
  .attribution,
  figure.quote figcaption {
    padding: 0 0 0 2em;
  }
}

.media--view-mode-view-full,
.node--view-mode-full {
  margin: 0 0 1.5em 0;
}

figure .media--view-mode-view-full,
figure .node--view-mode-view-full,
.node--type-layout-page .media--view-mode-view-full,
.node--type-layout-page .node--view-mode-full {
  margin: 0;
}

.node--view-mode-teaser {
  border: 0;
  margin: 0;
  padding: 0;
  // Sadly, bartik's node.css forces a color on these (not sure why).
  h2 {
    a {
      color: $c-plum;
    }
    a:focus h2,
    a:hover h2 {
      color: $c-purple;
    }
  }    
}

.node--type-session-resume.node--view-mode-teaser {
  margin: 0 0 2em 0;
  padding: 0 1em;
}

.item-list ul,
.item-list ul li {
  margin: 0;
  padding: 0;
}

.text-formatted {
  li {
    margin: 0.5em 0;
  }
  ol, ul {
    margin: 0 0 1em 1em;
    display: inline-block;
  }
  ol ol, ul ul {
    margin: 0 0 0 1em;
  }
  ul.social-media-links--platforms {
    margin: 0;
    padding: 0;
  }
}


hr {
  margin: 1em 0;
  border: 0;
  border-bottom: 1px dashed #aaa;
}

a.teaser-link h4 {
 font-size: 1.075em;
}

a.teaser-link {
  color: black;
  text-decoration: none;
  border-bottom: none;
}

a.teaser-link h2,
a.teaser-link h4,
a.teaser-link .more-link {
  color: $c-plum;
  margin: 0;
}

a.teaser-link:hover h2,
a.teaser-link:focus h2,
a.teaser-link:hover h4,
a.teaser-link:focus h4,
a.teaser-link:focus .more-link,
a.teaser-link:hover .more-link {
  color: $c-purple;
  text-decoration: underline;
}

a.teaser-link article.node {
  padding: 0.25em;
}

a.teaser-link .field--type-entity-reference {
  margin: 0;
}

a.teaser-link article .field--type-entity-reference article {
  margin: 0;
  padding: 0;
}

a.teaser-link .field--name-field-date-time {
  font-style: italic;
}

.node--type-article .source-info {
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
}
.node--type-article .dash {
  color: #aaa;
}
.node--type-article .pub-date {
  color: #777;
}

a.teaser-link .node__content {
  font-size: 1em;
  margin: 0;
}

a.teaser-link .node--sticky:not(.node--type-place) {
  background-color: $c-sticky;
}

a.teaser-link:hover .node--sticky:not(.node--type-place) {
  background-color: $c-sticky-hover;
}

a.teaser-link .node--view-mode-teaser-search-result .field--name-field-location,
a.teaser-link .node--view-mode-teaser-with-location .field--name-field-location {
  font-size: 90%;
}

.align-left,
.align-right {
  float: none;
  margin: 0 0 1em 0;
}
a.teaser-link .field--name-field-main-image.field--type-entity-reference,
.field--name-field-main-image.field--type-entity-reference,
.field--name-field-main-image.field--type-image {
  display: block;
  margin: 0 0 1em 0;
  padding: 0;
}
@media (min-width: 715px) {
   a.teaser-link .field--name-field-main-image,
  .field--name-field-main-image {
    float: left;
    max-width: 50%;
  }
  a.teaser-link .field--name-field-main-image.field--type-entity-reference,
  .field--name-field-main-image.field--type-entity-reference,
  .field--name-field-main-image.field--type-image {
    margin: 0 1em 0 0;
  }
  .align-left {
    float: left;
    margin: 0 1em 0 0;
  }
  .align-right {
    float: right;
    margin: 0 0 0 1em;
  }
}

.node--view-mode-teaser-search-result .field--name-field-location p.address,
.node--view-mode-teaser-with-location .field--name-field-location p.address {
  margin: 0.25em 0;
}

a.teaser-link:hover .teaser-wrapper {
  background-color: rgba(0,0,0,0.1);
}

.place-teaser-compact header {
  float: left;
  margin: 0 0.5em 0 0;
}

.place-teaser-compact .field--name-field-address {
  float: left;
  font-style: italic;
  font-size: 95%;
  line-height: 1.5em;
}

.headshot {
  float: left;
  margin: 0 1em 0 0;
}

.node--unpublished {
  background-color: $c-unpublished;
  border: 1px solid darken($c-unpublished, 10%);
  padding: 0 0.5em;
}

a.teaser-link:hover .node--unpublished {
  background-color: shade($c-unpublished, 10%);
  border-color: shade(darken($c-unpublished, 10%), 10%);
}

.container-inline .inline {
  display: inline-block;
}

.more-link a {
  text-decoration: none;
  border-bottom: none;
}
.more-link a:hover {
  text-decoration: underline;
  border-bottom: none;
}

.field--name-field-date-time {
  font-size: 0.9em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.block-event-datetime-block .field--name-field-date-time {
  font-size: 1.25em;
  font-style: italic;
}

.node--view-mode-full .field--name-field-subtitle {
  font-size: 1.3em;
}

.node--view-mode-teaser .field--name-field-subtitle,
.node--view-mode-teaser-no-image .field--name-field-subtitle,
.node--view-mode-teaser-with-location .field--name-field-subtitle {
  font-size: 1em;
}

.site-footer .layout-container {
  padding: 0 15px;
}

.view-breema-articles,
.view-breema-essence {
  .form--inline .form-actions {
    clear: none;
    padding-top: 1.2em;
    margin: 0;
  }
  .button {
    margin: 0;
  }
  .form-item {
    margin: 0 1em 0 0;
  }
  .views-exposed-form {
    margin: 0 0 1em 0;
  }
}

a.email,
.contact-form-link a,
.field--type-email a {
  padding: 0 0 0 1.35em;
  margin: 0 0 0 0.15em;
  position: relative;
}

a.telephone,
.field--type-telephone a {
  padding: 0 0 0 1.25em;
  margin: 0 0 0 0.25em;
  position: relative;
}

a.email:before,
a.telephone:before,
.contact-form-link a:before,
.field--type-email a:before,
.field--type-telephone a:before {
  position: absolute;
  font-family: 'FontAwesome';
  left: 0px;
}

a.email:before,
.contact-form-link a:before,
.field--type-email a:before {
  // fa-envelope-o
  content: "\f003";
}

a.telephone:before,
.field--type-telephone a:before {
  // fa-phone
  content: "\f095";
  top: 0px;
}

.field--name-field-facebook-event {
  a {
    padding: 0 0 0 1em;
    position: relative;
    color: $c-fb-blue;
  }
  a:focus,
  a:hover {
    color: darken($c-fb-blue, 5%);
  }
  a:before {
    position: absolute;
    font-family: 'FontAwesome';
    // fa-facebook
    content: "\f09a";
    left: 1px;
  }
}

.form-actions {
  padding-top: 0;
}

.node__content {
  font-size: 1.1em;
  .view-content {
    font-size: 93.5%;
  }
}

.view-breema-event-children {
  margin-bottom: 1em;
}
