body {
  font-family: $ff-cabin;    
}

h1 {
  margin: 0 0 0.5em 0;
  color: $c-red;
}

.main-content {
  h2 {
    font-size: 1.5em;
    color: $c-red;
  }
  a h2 {
    color: $c-plum;
  }
  a:focus h2,
  a:hover h2 {
    color: $c-purple;
  }
  h3 {
    font-size: 1.25em;
  }
  h4 {
   font-size: 1.1em;
  }
  h5 {
    font-size: 1.05em;
  }
}

a {
  text-decoration: none;
  border-bottom: none;
  color: $c-plum;
}
a:focus,
a:hover {
  text-decoration: underline;
  border-bottom: none;
  color: $c-purple;
}

.tabs ul.primary li a:focus,
.tabs ul.primary li a:hover {
  text-decoration: none;
}

.field--type-image img {
  margin: 0;
}
.node .field--type-image {
  float: none;
  margin: 0;
}

p.address {
  margin: 1em 0;
  font-style: italic;
}

blockquote,
figure,
p {
  overflow: hidden;
}

blockquote {
  margin: 0 0 0.25em 0;
  font-style: normal;
  background-color: #eee;
}

.attribution {
  margin: 0 0 0.5em 0;
  padding: 0 0 0 1em;
}
.attribution:before {
  color: #aaa;
  content: "\2015\0020"; /* quote dash and a space */
}
@media (min-width: 715px) {
  .attribution {
    padding: 0 0 0 2em;
  }
}

.media--view-mode-view-full,
.node--view-mode-full {
  margin: 0 0 1.5em 0;
}

.node--type-layout-page .media--view-mode-view-full,
.node--type-layout-page .node--view-mode-full {
    margin: 0;
}

.node--view-mode-teaser {
  border: 0;
  margin: 0;
  padding: 0;
}

.node--type-session-resume.node--view-mode-teaser {
  margin: 0 0 2em 0;
  padding: 0 1em;
}

.item-list ul,
.item-list ul li {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0 0 1em 0;
  min-width: 250px;
}

hr {
  margin: 1em 0;
  border: 0;
  border-bottom: 1px dashed #aaa;
}

a.teaser-link h4 {
 font-size: 1.075em;
}

a.teaser-link {
  color: black;
  text-decoration: none;
  border-bottom: none;
}

a.teaser-link h2,
a.teaser-link h4,
a.teaser-link .more-link {
  color: $c-plum;
  margin: 0;
}

a.teaser-link:hover h2,
a.teaser-link:focus h2,
a.teaser-link:hover h4,
a.teaser-link:focus h4,
a.teaser-link:focus .more-link,
a.teaser-link:hover .more-link {
  color: $c-purple;
  text-decoration: underline;
}

a.teaser-link article.node {
  padding: 0.25em;
}

a.teaser-link .field--type-entity-reference {
  margin: 0;
}

a.teaser-link article .field--type-entity-reference article {
  margin: 0;
  padding: 0;
}

a.teaser-link .field--name-field-date-time {
  font-style: italic;
}

.node--type-article .source-info {
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
}
.node--type-article .dash {
  color: #aaa;
}
.node--type-article .pub-date {
  color: #777;
}

a.teaser-link .node__content {
  font-size: 1em;
  margin: 0;
}

a.teaser-link .node--sticky {
  background-color: rgba(132, 251, 96, 0.1);
}

.location-results article.node--type-directory-entry {
  padding: 0.25em;
}

.location-results article.node--type-directory-entry:hover {
  background-color: rgba(0,0,0,0.025);
}

a.teaser-link .node--view-mode-teaser-search-result .field--name-field-location,
a.teaser-link .node--view-mode-teaser-with-location .field--name-field-location {
  font-size: 90%;
}

.field--name-field-main-image img {
  display: block;
  margin: 0 auto;
}
@media (min-width: 715px) {
   a.teaser-link .field--name-field-main-image,
  .field--name-field-main-image {
    float: left;
    margin: 0 1em 0 0;
    padding: 0;
    max-width: 50%;
  }
  .field--name-field-main-image img {
    margin: 0;
  }

}

.node--view-mode-teaser-search-result .field--name-field-location p.address,
.node--view-mode-teaser-with-location .field--name-field-location p.address {
  margin: 0.25em 0;
}

a.teaser-link:hover .teaser-wrapper {
  background-color: rgba(0,0,0,0.025);
}

.place-teaser-compact header {
  float: left;
  margin: 0 0.5em 0 0;
}

.place-teaser-compact .field--name-field-address {
  float: left;
  font-style: italic;
  font-size: 95%;
  line-height: 1.5em;
}

.headshot {
  float: left;
  margin: 0 1em 0 0;
}

.node--unpublished {
  background-color: #fffcd9;
  border: 1px solid #e4e4a7;
  padding: 0 0.5em;
}

.container-inline .inline {
  display: inline-block;
}

.more-link a {
  text-decoration: none;
  border-bottom: none;
}
.more-link a:hover {
  text-decoration: underline;
  border-bottom: none;
}

.field--name-field-date-time {
  font-size: 0.9em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.block-event-datetime-block .field--name-field-date-time {
  font-size: 1.25em;
  font-style: italic;
}

.node--type-product h4,
.node--type-product a.teaser-link h4 {
  font-size: 1.3em;
  margin: 0;
}

.node--type-product h5,
.node--type-product a.teaser-link h5 {
  font-size: 1.1em;
  font-style: italic;
  text-transform: none;
  letter-spacing: 0;
  margin: 0 0 0.5em 0;
}

.node--type-product .field--name-field-main-image,
.node--type-product a.teaser-link .field--name-field-main-image {
  margin: 0;
  max-width: 100%
}

.node--type-layout-page .paragraph {
  clear: both;
  margin: 0 0 2em 0;
}

.node--view-mode-full .field--name-field-subtitle {
  font-size: 1.3em;
}

.menu-item--collapsed,
.menu-item--expanded {
  list-style-image: none;
  list-style-type: none;
}

.site-footer .layout-container {
  padding: 0 10px;
}

.paragraph h2,
.paragraph h3,
.paragraph h4 {
  margin: 0 0 0.25em 0;
}
.paragraph--type--event-featured h3 {
  margin: 1em 0 0.5em 0;
}

.paragraph--type--featured-product .field--type-entity-reference,
.paragraph--type--media-3-up .field--type-entity-reference {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.view-breema-articles .form--inline .form-actions {
  clear: none;
  padding-top: 1.2em;
  margin: 0;
}
.view-breema-articles .button {
  margin: 0;
}
.view-breema-articles .form-item {
  margin: 0 1em 0 0;
}

.view-breema-articles .views-exposed-form {
  margin: 0 0 1em 0;
}

.contact-form-link a,
.field--type-email a {
  padding: 0 0 0 1.35em;
  margin: 0 0 0 0.15em;
  position: relative;
}

.field--type-telephone a {
  padding: 0 0 0 1.25em;
  margin: 0 0 0 0.25em;
  position: relative;
}

.contact-form-link a:before,
.field--type-email a:before,
.field--type-telephone a:before {
  position: absolute;
  font-family: 'FontAwesome';
  left: 0px;
}

.contact-form-link a:before,
.field--type-email a:before {
  // fa-envelope-o
  content: "\f003";
}

.field--type-telephone a:before {
  // fa-phone
  content: "\f095";
  top: 0px;
}

.field--name-field-facebook-event {
  a {
    padding: 0 0 0 1em;
    position: relative;
  }
  a:before {
    position: absolute;
    font-family: 'FontAwesome';
    // fa-facebook
    content: "\f09a";
    left: 1px;
  }
}
