.site-footer {
  background-color: $c-plum;

  .block {
    margin: 0 0 20px 0;
    border-color: $c-white-25o;
  }

  // Change links and other text to white for this whole region.
  a,
  .content {
    color: $c-white-80o;
  }
  a:focus,
  a:hover,
  // Override the default blue here so we don't get blue on plum on /contact*
  ul.menu a.is-active {
    color: $c-white;
  }

  h2 {
    margin: 0 0 0.5em 0;
    text-transform: none;
    color: $c-white-80o;
    border-color: $c-white-25o;
  }

  .block-social-media-links {
    li {
      a, a:focus, a:hover {
        border: none;
        text-indent: 0;
        padding: 0 0.25em 0 0;
        background-color: $c-plum;
      }
    }
    ol:not(.menu), ul:not(.menu) {
      padding: 0.5em 0 0 0;
    }
  }
}

.site-footer__bottom {
  margin-top: 10px;
  border: none;
  font-size: 0.9em;
}

// We need more specific styles here to override the usual link colors.
.block-footer-email-subscribe-block .action--secondary {
  a {
    color: $c-plum;
    background-color: $c-white-80o;
    background-image: linear-gradient(to bottom, $c-white-80o, darken($c-white-80o, 15%));
    max-width: 100px;
    display: block;
    margin: 0.5em auto;
    text-align: center;
  }
  a:focus,
  a:hover {
    color: $c-purple;
    background-color: $c-white;
    background-image: none;
    border: 1px solid $c-purple;
  }
}

.block-footer-text-block .contact a.telephone {
  margin: 0 1em 0 0;
}

.block-footer-email-subscribe-block .text-link {
  font-size: 1.1em;
}
