// Styles for grid layouts.

.grid--container {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.region-sidebar-first .grid--container {
  grid-row-gap: 0;
}

.grid--container-2 {
  grid-template-columns: 1fr 1fr;
}

.grid--container-2u3366 {
  grid-template-columns: 1fr 2fr;
}

.grid--container-2u6633 {
  grid-template-columns: 2fr 1fr;
}

.grid--container-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

@media (min-width: 630px) {
  .grid--container-1-2,
  .grid--container-1-2-4,
  .region-sidebar-first .grid--container-1-2-3 {
    grid-template-columns: 1fr 1fr;
  }
  .grid--container-1-2-4 {
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }
  .grid--container-1-2u3366 {
    grid-template-columns: 1fr 2fr;
  }
  .grid--container-1-2u6633 {
    grid-template-columns: 2fr 1fr;
  }
}

@media (min-width: 715px) {
  .grid--container-1-2 {
    grid-template-columns: 1fr 1fr;
  }
  .grid--container-1-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .region-sidebar-first .grid--container-1-2-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 851px) {
  .grid--container {
    grid-column-gap: 15px;
  }
  .grid--container-1-2-4 {
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }
  .grid--container-1-2,
  .region-sidebar-first .grid--container-1-2,
  .region-sidebar-first .grid--container-1-2-3 {
    grid-template-columns: 1fr;
  }
  .grid--container-1-2-3 {
    grid-template-columns: 1fr 1fr;
  }
  .grid--container.field--name-field-tiles {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

}

@media (min-width: 1024px) {
  .grid--container.field--name-field-tiles {
    grid-column-gap: 40px;
    grid-row-gap: 20px;
  }
  .grid--container-1-2 {
    grid-template-columns: 1fr 1fr;
  }
  .grid--container-1-2-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1251px) {
  .grid--container {
    grid-column-gap: 20px;
    grid-row-gap: 15px;
  }
  .grid--container.field--name-field-tiles {
    grid-column-gap: 60px;
    grid-row-gap: 30px;
  }
  .grid--container-1-2-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.paragraph--type--featured-product .grid--container {
  grid-row-gap: 20px;
}
