#header {
  background-color: $c-white;
  background-image: none;
}

.region-secondary-menu {
  background-color: $c-plum;
  .menu {
    margin: 0 15px;
  }
}    

.site-branding__name {
  font-family: $ff-georgia;
  text-transform: uppercase;
  letter-spacing: 0;
  word-spacing: 100vw;  // Make this section wrap after each word.
}

.region-header {
  a, .site-branding__text, .site-branding__text a {
    color: $c-red;
  }
}
