.region-secondary-menu {
  background-color: $c-plum;
  .menu {
    margin: 0 15px;
  }
  ul.menu { 
    a,
    a.is-active {
      color: $c-white-80o;
    }
    a:focus,
    a:hover {
      color: $c-white;
    }
  }
  .block .content {
    margin: 0;
  }
}    

.site-branding__name {
  font-family: $ff-georgia;
  text-transform: uppercase;
  letter-spacing: 0;
  word-spacing: 100vw;  // Make this section wrap after each word.
  max-width: 120px; // But not take up too much space.
  a {
    color: $c-red;
  }
}

.region-header {
  float: left;
  padding: 0.357em 15px 0;
}

.region-primary-menu {
  float: left;
  clear: none;
  .menu-item {
    font-size: 1.25em;
  }
  a:focus,
  a:hover,
  .menu-item--active-trail a {
    color: $c-blue;
  }
}
