// Border
$border: 1px solid #bbb;

/// @group Colors
$c-black: #1a272e;
$c-blue: rgb(0, 124, 178);
$c-blue-dark: rgb(0, 110, 148);
$c-plum: rgb(117, 45, 83);
$c-plum-white: rgb(236, 235, 235);
$c-purple: rgb(136, 53, 132);
$c-red: rgb(168, 33, 51);
$c-red-danger: rgb(210, 5, 5);
$c-red-danger-dark: rgb(170, 5, 5);
$c-grey: rgb(222, 223, 221);
$c-grey-light: rgb(245, 247, 249);
$c-white: #fff;
$c-white-80o: rgba(255, 255, 255, 0.80);
$c-white-25o: rgba(255, 255, 255, 0.25);


$c-gr6:  #666;
$c-gr7d: #7d7d7d;
$c-grc7: #c7c7c7;
$c-gr80: #808080;

/// @group Font-families
$ff-cabin: 'Cabin', sans-serif;
$ff-charlemagne: 'Charlemagne', sans-serif;
$ff-helv: "Helvetica Neue", Helvetica, Arial, sans-serif;

/// @group Breakpoints
$handheld: 541px;
$tablet : 736px;  // Landscape for iPhone *Plus and X, iPads @ portrait
$desktop : 961px;
$desktop-large: 1270px;
