// Border
$border: 1px solid #bbb;

/// @group Colors
$c-black: #1a272e;
$c-purple: #8337a7;
$c-blue: #007cb2;
$c-plum: #752d53;
$c-red: #a82133;
$c-grey: #dedfdd;
$c-grey-light: #f5f7f9;
$c-white: #fff;

$c-gr6:  #666;
$c-gr7d: #7d7d7d;
$c-grc7: #c7c7c7;
$c-gr80: #808080;

/// @group Font-families
// @todo
$ff-din-medium: 'FF DIN Pro Medium', sans-serif;
$ff-din-regular: 'FF DIN Pro Regular', sans-serif;
$ff-helv: Helvetica, sans-serif;
$ff-nitti: 'Source Code Pro', monospace;
$ff-serif: 'PT Serif', 'Georgia', 'Times New Roman', 'Times', serif;

/// @group Breakpoints
$handheld: 541px;
$tablet : 736px;  // Landscape for iPhone *Plus and X, iPads @ portrait
$desktop : 961px;
$desktop-large: 1270px;
