.view-breema-events-by-instructor {
  clear: both;
  padding-bottom: 1em;
}
.view-breema-events-by-instructor.view-display-id-block_map {
  padding-top: 2em;
}

.node--type-directory-entry .field--name-body {
  clear: both;
  padding: 1em 0 0 0;
}
