.block-essence-footer-block .action {
  max-width: 250px;
  display: block;
  margin: 0.5em auto;
  text-align: center;
}

.node--type-essence {
  .field--name-field-source-product {
    clear: both;
    padding: 1em 0 0 0;
  }
}
