.view-breema-event-search {
  ul.results {
    li {
      margin: 0 0 0.5em 0;
      padding: 0 0 0.5em 0;
      border-bottom: 1px solid $c-grey;
    }
  }
}

.field--name-field-breema-center-sponsored {
  font-weight: bold;
}

.field--type-tzfield {
  margin: 0;
  details {
    margin: 0;
    border: none;
    summary {
      background: none;
      text-shadow: none;
    }
    .details-wrapper {
      padding: 0.5em 1em;
    }
  }
  details[open] {
    border: 1px solid $c-grey;
    margin: 0 0 0.5em 0;
    background-color: $c-white;
    white-space: nowrap;
  }
}

.date-time-tz-wrapper {
  font-size: 0.9em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  margin: 0 0 0.3em 0;
}

.field--name-field-date-time,
.field--name-field-timezone {
  display: inline;
}

.block-event-datetime-block {
  .field--name-field-date-time {
    font-style: italic;
    margin: 0 0.5em 0 0;
    vertical-align: top;
  }
  .field--name-field-timezone {
    display: inline-block;
  }
}

.multi-tz {
  font-size: 1.1em;
  font-weight: 500;
}
