.flexslider {
  background-color: inherit;
  border: none;
  margin: 0 0 40px;

  p {
    margin: 0 0 0.5em 0;
    padding: 0;
  }

  h2,
  a.teaser-link h2 {
    margin-top: 0;
    font-size: 2.20em;
    color: $c-red;
  }
  h3 {
    font-size: 1.8em;
    color: $c-blue;
  }
  .slides {
    padding: 0.5em;
    margin: 0.5em;
    background-color: $c-grey-light;
    border: 5px solid $c-grey-light;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    img {
      width: inherit;
    }
  }
}
.flex-direction-nav {
  a {
    overflow: visible;
  }
}
@media (min-width: 851px) {
  .flexslider {
    .slides {
      margin: 0.5em 1em;
    }
  }
}
@media (min-width: 1024px) {
  .flexslider {
    .slides {
      max-width: 900px;    
      padding: 1em;
      margin: 0.5em auto;
    }
  }
}
@media (min-width: 1280px) {
  .flexslider {
    .slides {
      max-width: 1000px;    
    }
  }
}

.flex-control-paging li {
  a {
    background: lighten($c-blue, 5%);
  }
  a.flex-active {
    background: darken($c-blue, 15%);
  }
}
