.view-breema-group-user.view-display-id-embed_group_dashboard .views-row {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $c-gr9;
}
.view-breema-group-user.view-display-id-embed_group_dashboard .views-row:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
