.media--view-mode-view-large {
  max-width: 640px;
}
.media--view-mode-view-medium {
  max-width: 480px;
}
.media--view-mode-view-small {
  max-width: 320px;
}
.media--view-mode-view-smaller {
  max-width: 224px;
}

.field--name-field-stream-url label {
  display: none;
}
