.node--type-layout-page .paragraph {
  clear: both;
  margin: 0 0 2em 0;
}

.paragraph {
  h2, h3, h4 {
    margin: 0 0 0.25em 0;
  }
  .field--type-entity-reference {
    margin: 0;
    font-family: $ff-cabin;
  }
}

.paragraph--type--event-featured h3 {
  margin: 1em 0 0.5em 0;
}

// These classes are only set on paragraphs, so we can style them here.
.media-align-center {
  img {
    margin: 0 auto;
    display: block;
  }
  // For product paragraphs, we need to undo the 'float: left' on main image.
  .field--name-field-main-image {
    float: none;
  }
}
.media-align-left img {
  float: left;
}
.media-align-right {
  img,
  // For product paragraphs, we need to undo the 'float: left' on main image.
  .field--name-field-main-image {
    float: right;
  }
}

// Center the header text and image on all 'tile' paragraphs:
.field--name-field-tiles .paragraph {
  h2 {
    text-align: center;
  }
  .field--type-image img {
    display: block;
    margin: 0 auto;
  }
}
