.block-social-share-block {
  float: right;
  margin: 0 1em;
  position: relative;
  z-index: 1;
  .main-links {
    li {
      display: inline-block;
      margin: 0 10px 0 0;
    }
    a {
      display: inline-block;
      background-color: $c-blue;
      background-image: linear-gradient(to bottom, $c-blue, darken($c-blue, 6%));
      @include shadow-border(1px, solid, $c-blue);
      color: #fff;
      border-radius: 32px;
      height: 32px;
      width: 32px;
      line-height: 32px;
      text-align: center;
      font-size: 20px;
    }
    a:hover {
      background-color: $c-blue-dark;
      background-image: linear-gradient(to bottom, $c-blue-dark, darken($c-blue-dark, 6%));
      @include shadow-border(1px, solid, $c-blue-dark);
    }
  }
  .more-links {
    background: $c-white;
    border: 1px solid $c-grey;
    list-style: none;
    position: absolute;
    left: 64px;
    top: 45px;
    z-index: 2;
    opacity: 0;
    transition: opacity .4s ease-out;
    visibility: hidden;
    padding: 0 0 8px 0;
    &.open {
      opacity: 1;
      visibility: visible;
    }
    a {
      padding: 2px 10px;
      margin: 0 0 4px 0;
    }
  }
  .more-links-close {
    background: #58595B;
    color: white;
    margin: 0 0 5px 0;
    padding: 2px 5px;
    text-align: center;
    &:hover {
      background: $c-blue-dark;
      cursor: pointer;
    }
    .x {
      float: right;
    }
  }
}

.block-page-title-block,
.block-event-datetime-block {
  float: left;
  clear: left;
}
.block-local-tasks-block,
.block-system-main-block {
  clear: both;
}
