.paragraph--type--product-info-audio,
.paragraph--type--product-info-book,
.paragraph--type--product-info-general {
  margin: 0 0 1em 0;
}

.product-image {
  margin: 0 1em 0 0;
}

.paragraph--type--product-info-general .field--name-field-description p {
  margin: 0;
}

.field--name-field-cover-price,
.field--name-field-cover-price .field__label,
.field--name-field-publication-year .field__label {
  font-weight: normal;
}

.field--name-field-special-price {
  font-weight: bold;
}

.field--name-field-by {
  p {
    margin: 0;
  }
  .field__label {
    font-weight: normal;
  }
}

.field--name-field-ebook-amazon-kindle a,
.field--name-field-ebook-apple-ibooks a,
.field--name-field-ebook-barnes-noble a,
.field--name-field-ebook-kobo a {
  padding: 0 0 0 1.5em;
  position: relative;
  border-bottom: none;
  text-decoration: none;
}

.field--name-field-ebook-amazon-kindle a:hover,
.field--name-field-ebook-apple-ibooks a:hover,
.field--name-field-ebook-barnes-noble a:hover,
.field--name-field-ebook-kobo a:hover {
  border-bottom: none;
  text-decoration: none;
}

.field--name-field-ebook-amazon-kindle a:before {
  position: absolute;
  font-family: 'FontAwesome';
  content: "\f270";
  color: #444;
  left: 1px;
}

.field--name-field-ebook-apple-ibooks a:before {
  position: absolute;
  font-family: 'FontAwesome';
  content: "\f179";
  color: #777;
  left: 3px;
}

.field--name-field-ebook-barnes-noble a:before {
  position: absolute;
  font-family: Impact, Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
  content: "BN";
  color: #346250;
  left: 0;
}

.field--name-field-ebook-kobo a:before {
  position: absolute;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  content: "k";
  color: #bf0000;
  left: 4px;
  bottom: -0.1em;
}

details.e-books .details-wrapper {
  padding: 0.5em;
}

.field--name-field-audio-excerpts {
  clear: both;
}

.paragraph--type--product-info-audio .field--name-field-audio-excerpts .field__label {
  font-size: 1em;
  font-family: $ff-cabin;
}

.node--type-product {
  h3, h5 {
    font-style: italic;
    letter-spacing: 0;
  }
  h4, a.teaser-link h4 {
    font-size: 1.3em;
    margin: 0;
  }
  h5, a.teaser-link h5 {
    font-size: 1.1em;
    text-transform: none;
    margin: 0 0 0.5em 0;
  }
 .field--name-field-main-image,
 a.teaser-link .field--name-field-main-image {
    margin: 0;
    max-width: 100%
 }
}
