.toolbar .toolbar-bar {
  background-color: $c-plum;
}

.toolbar-tab-search.toolbar-tab-search-full.toolbar-tab {
  float: right;
}

.toolbar .toolbar-bar .toolbar-tab-search-full {
  height: 26px;
}
