// Styles specific to Views components.
.attachment-after {
  margin: 1em 0 0 0;
}

.feed-icon {
  margin: 0;
}

#views-exposed-form-breema-events-by-location-block-breema-center {
  .form--inline {
    .form-actions {
      clear: none;
      float: left;
      margin: 1em 0 0 1em;
    }
    .form-item {
      margin-top: 0;
    }
  }
}
