.ief-entity-unpublished {
  background-color: #fffcd9;
  border: 1px solid #e4e4a7;
}

tbody tr.ief-entity-unpublished:hover,
tbody tr.ief-entity-unpublished:focus {
  background-color: #fdf597;
}

.toolbar .toolbar-bar {
  background-color: #752d53;
}
