.ief-entity-unpublished {
  background-color: #fffcd9;
  border: 1px solid #e4e4a7;
}

tbody tr.ief-entity-unpublished:hover,
tbody tr.ief-entity-unpublished:focus {
  background-color: #fdf597;
}

.toolbar .toolbar-bar {
  background-color: #752d53;
}
.toolbar .toolbar-bar .toolbar-item {
  color: rgba(255, 255, 255, 0.8);
}
.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon {
  width: 3em;
}
.toolbar .toolbar-bar .toolbar-tab-logout > .toolbar-icon {
  text-indent: 0;
  padding: 1em 0.75em;
  width: auto;
}
@media only screen and (min-width: 400px) {
  .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon {
    width: 4em;
  }
  .toolbar .toolbar-bar .toolbar-tab-logout > .toolbar-icon {
    width: auto;
    padding: 1em;
  }
}
@media only screen and (min-width: 575px) {
  .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon {
    width: auto;
  }
}
.toolbar .toolbar-bar .toolbar-tab-logout > .toolbar-item {
  font-size: 0.929em;
  font-weight: normal;
  line-height: 1.25em;
}

.toolbar .toolbar-bar .toolbar-tab-search-full {
  float: right;
}
.toolbar .toolbar-bar .toolbar-tab-search-full .button {
  background: #f0f0f0 url(../../../../core/misc/icons/505050/loupe.svg) no-repeat center;
  text-indent: -9999px;
  overflow: hidden;
  width: 30px;
  height: 26px;
  padding: 0 1.1em;
}

.seven-details__description {
  margin-bottom: 1em;
}

.field--widget-paragraphs {
  margin: 1em 0 2em 0;
}

.place-teaser-compact header {
  float: left;
  margin: 0 0.5em 0 0;
}

.place-teaser-compact .field--name-field-address {
  float: left;
  font-style: italic;
  font-size: 95%;
  line-height: 1.5em;
}

.entity-browser-form h3,
.field--widget-entity-browser-entity-reference h3
.entity-browser-form h4,
.field--widget-entity-browser-entity-reference h4 {
  margin: 5px 0;
}

.view-breema-event-browser .form-item-event-type {
  display: none;
}

.form--inline .form-item:last-child {
  margin-right: 0;
}
fieldset.form-item:not(.fieldgroup) {
  margin: 0 1em 1em 0;
  padding: 34px 10px 8px 10px;
}
.form-item.form-type-datetime {
  margin: 0 1em 0 0;
}
fieldset .form-item {
  margin: 0 0 0.25em 0;
}

.view-breema-event-transfer-credit-administration .view-header {
  margin: 0 0 1em 0;
}

details.tzfield-details {
  margin: 0;
  border: none;
}
details.tzfield-details .seven-details__summary {
  text-shadow: none;
}
details.tzfield-details summary {
  padding: 0;
}
details.tzfield-details .seven-details__wrapper {
  padding: 0.25em;
}
details.tzfield-details li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
td.views-field-field-timezone {
  position: relative;
}
details[closed].tzfield-details {
  top: 35%;
  left: 8px;
}
details[open].tzfield-details {
  position: absolute;
  z-index: 10;
  border: 1px solid #dedfdd;
  padding: 0.25em;
  background-color: #fff;
  top: 35%;
  left: 8px;
}
